@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
}

.navbar {
    background-color: #4A55A2;
}

.btn {
    background-color: #4A55A2;
}

footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #888;
}